
 html,
 body,
 #root,
 .app{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000411;
  }
 

nav{
    background-color: #FFE74C;
}
.navbar-header .navbar-brand{
  color :#160C28;
  font-size: 26px;
}

.navbar-form input,
.navbar-form .btn{
  border-radius: 15px;
}

.navbar-nav .btn{
  color :#160C28;
  font-size: 15px;
  margin: 10px;
  text-decoration: none;
  border: none;
}
.navbar-nav .btn:focus,
.nabar-nav .btn:hover{
 text-decoration: none;
 outline: none;
 font-size: 17px;
 transition: 0.2s;
}

.masthead {
  background-color: rgba(255,255,255,0.5);
}
.container{ 
 width: 100%;
 display:flex;
 flex-wrap: inherit;
 align-items:center;
 justify-content: center;
 background-image: url('../../public/assets/photo-1507608869274-d3177c8bb4c7.avif');
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
 background-blend-mode: lighten;
}



.container .loginContainer{
  border: 1px solid black;
  margin: 20%;
  padding: 6%;
  border-radius: 25px;


}
.loginnav .navbar-header{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.loginContainer div{
  margin: 8px 0px;
}

.loginContainer button{
  margin-top: 3%;
 width: 100%;
 background-color: #160C28;
 color: #fff;
 -webkit-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
-moz-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
}

.loginContainer button:hover{
  
  background-color: #301a5a;
  color: #fff;
  
 }

 .loginContainer .signup{
  margin-top: 10%;
 }

 .loginContainer .signup a {
  font-size: 15px;
  text-decoration: underline;
 }

 .homeContainer{
  margin: 10px;
  display: flex;
  flex-direction: row;
 
  flex: space-between;
 }

 .userWidgetContainer{
  display: flex;
  flex-direction: column;
  border-radius:10px;
  margin-left: 10px;
  padding: 3%;
  width: 20%;
  height:400px;
  align-items: center;
  background-color: rgba(174,183,179, 0.2);
  -webkit-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
-moz-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
 }

 .userWidgetContainer .profilePic{
  margin-top: -10px;
 margin-bottom: 15px;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
 
 }

 .userWidgetContainer hr{
  width: 90%;
  border-bottom: 1px solid #222;
 }

 .userWidgetContainer .connect{
  display: flex;
  flex-direction: row; 
  width: 13%;
  height: 13%;
  flex-direction: space-between;
 }

 .userWidgetContainer .connect .insta{
  margin-left: -35px
 }
 .userWidgetContainer .connect .twitter{
  margin-left: 20px
 }

 .homeContainer .postContainer{
  height: 6%;
 width: 65%;
 padding: 2% 10%;
 border-radius: 10px;
 margin-left: 5%;

  -webkit-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
-moz-box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
box-shadow: 3px 3px 28px 1px rgba(77,77,77,0.74);
 }

 .postInput div{
  margin-bottom: 15px;
 }
 
 

 .submitArea .glyphicon {

  color: rgb(73, 73, 73);
 
}


.submitArea .btn-primary {
  margin-left: 85px;
  width: 50%;
  background-color: #160C28;
  color: #fff;  
}

.postContainer .postArea{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: rgb(0,4,17);
  justify-content: center;
}

.postArea hr{
  border-bottom: 1px solid #000411;
  width: 90%
}

.individualPost{
  margin: 30px 0px;
}

.individualPost div{
  margin-bottom: 20px;

}

.individualPost .imgdiv{
  display: flex;
 justify-content: center;
}
.individualPost img{
 
  max-width: 80%;
 max-height: 700px;
}

.individualPost article{
  font-weight: light;
  font-size: 16px;
  line-height: 3.5rem;
}

